@font-face {
  font-family: "Nasalization-Rg";
  src: url(../../public/font/nasalization-rg.otf) format("opentype");
}

@font-face {
  font-family: "Aroma-Light";
  src: url(../../public/font/aroma-light.ttf) format("truetype");
}

@font-face {
  font-family: "Dekar-Light";
  src: url(../../public/font/dekar-light.otf) format("opentype");
}

.header {} 
