@import '../../styles/variables';

.section {
  height: 100vh;
  min-height: 60rem;
  width: 100%;

  padding: $menu-height $container-padding 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    height: 100vh;
    width: 100%;
    
    padding: 3rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    
    font-size: 1.6rem;
    
    &:not(.image) {
      z-index: 1;
    }

    &.image {
      position: absolute;
      
      padding: 0;

      overflow: hidden;
      z-index: 0;
      opacity: .08;
    }
  }
 

  @media (min-width: $breakpoint-tablet) { 

    div {
      width: 50%;

      &.image {
        overflow: inherit;
        opacity: 1;
        position: inherit;
      }
    }
  }
}