@import '../../styles/variables';

section.about {

  height: 60vh;
  min-height: 120rem;
  @media (min-width: $breakpoint-tablet) { 
    min-height: 50rem;
  }
  width: 100%;

  padding: $menu-height $container-padding 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  div {
    
    margin-bottom: 5rem;

    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) { 
      flex-direction: row;
    }

    div {
      border-right: none;
      border-bottom: solid .1rem $color-secondary;

      hr {
        width: .4rem;
        
        padding: 0;
        margin: 0 auto;

        border: .4rem solid $color-secondary;
        border-radius: 50%;
      }
    
      h3 {
        padding-bottom: 2rem;

        @media (min-width: $breakpoint-tablet) { 
          border-bottom: solid .1rem $color-secondary;
          margin-bottom: -.4rem;
        }
      }
    
      p {
        padding: 2rem;
      }
    }

    &:last-child {
      border-bottom: none;
      margin: 0;
    }
    
    @media (min-width: $breakpoint-tablet) { 
      div {
        display: block;
        width: 100%;
        border: none;
      }
    }
  }
  
}