@import '../../styles/variables';

.footer {
  background: $color-primary;
  color: $color-white;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    img {
      height: 15px !important;
      width: 15px !important;
      border-radius: 2px;
    }

    &.sitemap {
      opacity: 0;
      height: 0;
      width: 0;   
    }

    &:last-child {
      padding: 2rem;
      font-size: 1.4rem;
      opacity: .8;
      background: rgba($color: #000000, $alpha: .1);
    }
  }

  @media (min-width: $breakpoint-tablet) {
    
    div {
      padding: 4rem 10%;
      &.sitemap {
        align-items: flex-start;
        max-width: $container-max-width;
        margin: 0 auto;
        padding: 2rem $container-padding 4rem;
        opacity: 1;
        height: auto;
        width: 100%;
        > ul {
          width: 25%;
          > li:first-child {
            margin: 3rem 0;
            font-size: 1.6rem;
            opacity: 1;
          }
  
          li {
            display: block;
            margin: 1rem;
            font-size: 1.2rem;
            opacity: .9;
          }
        }  
      }
    }
  }
}