@import '../../styles/variables';

span.field {

  label {
    width: 9rem;
    
    display: block;
    padding-left: 1.2rem;

    position: relative;
    
    color: $color-secondary;
    
    border-right: .1rem solid $color-secondary;
    font-weight: 300;
    z-index: 3;
  }

  input, textarea {
    width: 100%;

    padding: 1rem;
    padding-left: 11rem;
    margin-bottom: 1.2rem;
    
    color: $color-text;
    
    background: $color-background-field;
    border: solid .1rem $color-secondary;
    border-radius: .4rem;

    &:-webkit-autofill {
      box-shadow: 0 0 0 100rem $color-primary inset;
      -webkit-box-shadow: 0 0 0 100rem $color-primary inset;
    }
  }
  .input {
    label {
      margin-bottom: -2.8rem;
    }
  }

  .textarea {
    margin-top: .5rem;
    label {
      height: 8.6rem;
      
      margin-bottom: -9.5rem;
    }
    textarea {
      height: 10rem;
    }
  }
}
