@import '../../styles/variables';

.main {
  padding: $menu-height 0 $container-padding 0;
}

.home {
  padding: $menu-height 10%;
  min-height: 90vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  div {
    width: 50%;
  }

  .title {
    padding: 2rem 0;
    font-size: 4rem;
  }
  .content {
    font-size: 2rem;
  }
}

.about {
  padding: $menu-height 10%;

  h3 {
    padding: 1rem 0 4rem;
    font-size: 2rem;
  }

  .operation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    div {
      width: 25%;
      padding: 2rem;

      h2 {
        padding: 2rem 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }

  .institutional {

    padding: 4rem 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div {
      width: 50%;
      padding: 2rem;

      font-size: 2rem;
      h2 {
        font-size: 3rem;
        padding: 3rem 0;
      }
    }
    .institutional_video video {
      border-radius: 1rem;
    }
  }
}

.features {
  padding: $menu-height 10% 0;
  
  div.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
    h3 {
      width: 100%;
      padding: 2rem 0 4rem 0;
      
      font-size: 2rem;
    }
    
    div {

      display: block;
      padding: 2rem 1rem;
  
      text-align: center;
      width: 16%;
  
      h2 {
        padding: 2rem 0;
  
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
  .automations {
    padding: 4rem 0 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div {
      padding: 2rem 2rem 4rem 0;
      width: 60%;

      font-size: 2rem;

      h2 {
        padding: 4rem 0;
        font-size: 4rem;
      }
    }
    .image {
      padding: 4rem;
      width: 40%;
    }
  }
  
  .model {
    
    padding: 4rem 0 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div {

      padding: 2rem 0 4rem 4rem;
      width: 60%;

      font-size: 2rem;

      h2 {
        padding: 4rem 0;
        font-size: 4rem;
      }
    }
    .image {
      padding: 4rem;
      width: 40%;
    }
  }

}

.process {
  padding: $menu-height 10%;

  .title {
    padding: 2rem 0;
    font-size: 40px;
  }
  .content {
    font-size: 20px;
  }
}

.contact {
  padding: $menu-height 10% 2rem;
  text-align: center;
  
  a {
    padding: 1.8rem 4rem;

    color: $color-white;
    font-size: 1.6rem;
    text-transform: uppercase;

    border-radius: .8rem;
    background: #000;

    &:hover {
      opacity: .8;
    }
  }
}