.footer {
  border-top: 1px solid var(--color-primary);
  font-size: 1.6rem;

  background: rgb(16, 54, 59);
  background: linear-gradient(-90deg, rgb(2, 46, 66) 0%, rgb(31, 67, 82) 34%, rgb(16, 54, 59) 100%);

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;
  }
  
  div:first-child {
    padding: 10px 0;
    color: var(--color-withe);
  }

  div:last-child {
    color:#666;
    font-size: 1.4rem;
    padding: .2rem;
    background: rgba($color: #000000, $alpha: .1);
  }

  img {
    height: 15px !important;
    width: 15px !important;
    border-radius: 2px;
  }
}