@import '../../styles/variables';

.footer {

  font-size: 1.4rem;
  border-top: 1px solid $color-secondary;

  div {
    
    color: $color-text;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 40px;

    img {
      height: 15px !important;
      width: 15px !important;

      border-radius: 2px;
    }

    &:first-child {
      max-width: $container-max-width;

      margin: 0 auto;
      padding: 10px $container-padding;

      opacity: .8;
      
      li {
        display: block;
        margin: 1rem;
      }
    }

    &:last-child {

      padding: .2rem;
      font-size: 1.2rem;
  
      opacity: .6;

      background: rgba($color: #000000, $alpha: .1);
    }
  }
}