$breakpoint-tablet: 768px;
$breakpoint-desktop: 800px;

section.contact {

  height: 100vh;
  min-height: 820px;

  display: flex;
  align-items: start;
  justify-content: space-between;

  form {
    
    h2 {
      padding-bottom: 3rem;
    }

    p {
      text-align: center;
     }

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    height: 100%;
    width: 100%;
    padding: var(--menu-height) var(--container-padding) 0;

    font-size: 1.6rem;
    
    label {
      margin: 8px 10px 5px;
      font-weight: 300;
      display: block;
      color: var(--color-scondary);
    }
    input, textarea {
      color:  var(--color-withe);
      
      padding: 10px;
      width: 100%;
      background: none;
      border: solid 1px var(--color-scondary);

      border-radius: 4px;
    }
    input[type=submit] {
      width: 50%;
      float: right;
      text-transform: uppercase;
      color: var(--color-scondary);
    }
    textarea {
      height: 100px;
    }
  }

  @media (max-width: $breakpoint-tablet) { 

    input[type=submit] {
      width: 100% !important;
    }
  }

}
