@import '../../styles/variables';

section.contact {

  height: 100vh;
  min-height: 600px;

  display: flex;
  align-items: center;
  align-content: center;

  form {
    
    h2 {
      padding-bottom: 3rem;
    }

    p {
      text-align: center;
     }

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width: 100%;
    padding: $menu-height $container-padding 0;

    font-size: 1.6rem;

    input[type=submit] {
      padding: 10px;
      width: 50%;

      color: $color-scondary;
      
      background: none !important;
      border: solid 1px $color-scondary;
      
      border-radius: 4px;
      float: right;
      
      text-transform: uppercase;
    }
    textarea {
      height: 100px;
    }
  }

  @media (max-width: $breakpoint-tablet) { 

    input[type=submit] {
      width: 100% !important;
    }
  }

}
