@import '../../styles/variables';

section.contact {

  min-height: 100vh;
  
  display: flex;

  align-items: center;
  align-content: center;


  padding: $menu-height $container-padding;
  
  form {

    width: 100%;

    font-size: 1.6rem;
    
    display: flex;
    flex-direction: column;

    gap: 10px;

    h2 {
      padding-bottom: 3rem;
    }

    p {
      text-align: center;
      padding-bottom: 10px;
    }

    input[type=submit] {
      padding: 1rem;
      width: 100%;

      color: $color-secondary;
      
      background: $color-background-field;
      border: solid .1rem $color-secondary;
      
      border-radius: .4rem;
      float: right;
      
      text-transform: uppercase;
    }
  }

  @media (min-width: $breakpoint-tablet) { 

    input[type=submit] {
      width: 50% !important;
    }
  }

}
