* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}