$breakpoint-tablet: 768px;
$breakpoint-desktop: 800px;

$color-withe: #ddd;
$color-primary: #00678A;
$color-scondary: #00ebeb;
$color-scondary-opacity: #2799DB11;
$color-background: rgb(16, 54, 59);
$color-background-gradient: linear-gradient(
  -90deg, rgb(2, 46, 66) 0%, rgb(31, 67, 82) 34%, rgb(16, 54, 59) 100%);

$menu-height: 5.6rem;
$container-padding: 5%;