@font-face {
  font-family: "Ubuntu-Light";
  src: url(../public/fonts/ubuntu-light.ttf) format("truetype");
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 800px;

$color-text: #888;
$color-white: #fff;
$color-primary: #00678A;
$color-secondary: #5676F7;
$color-secondary-opacity: #2799DB11;
$color-background: #f5f5f5;
$color-background-gradient: linear-gradient(
  90deg, rgb(0, 74, 99) 0%,rgb(7, 32, 36) 100%);
$color-background-field: rgba(0,103,138, .08);
$menu-height: 5.6rem;
$container-padding: 5%;
$container-max-width: 1200px;