@import '../../styles/variables';

header.header {
  
  height: $menu-height;
  width: 100vw;
  
  position: fixed;
  top: 0;
  z-index: 10;
  
  background: $color-background;
  box-shadow: 1px 2px 2px #bfc6c9;

  nav.navbar {
    
    height: 100%;
    max-width: $container-max-width;

    margin: 0 auto;
    padding: 0 $container-padding 0;
    
    display: flex;
    justify-content: space-between;

    img {
      height: 55px;
      width: auto;
    }
    
    .bar {
      height: 3px;
      width: 25px;

      display: block;
      margin: 5px auto;
      background-color: $color-primary;
      
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    ul {
      height: 100%;
      width: 100%;
      
      position: fixed;
      top: $menu-height;
      left: -100%;
      
      text-align: center;
      
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      
      background: $color-background;
      
      transition: 0.3s;
      
      &.active {
        left: 0;
      }
      
      li {
        width: 50%;

        margin: 0 auto;
        padding: 2.5rem 0;

        &.active, &:hover:not(.active) {

          border-bottom: $color-primary .2rem solid;
          a {
            opacity: 1;
          }
        }

        a {
          height: 100%;
          width: 100%;

          font-size: 1.6rem;
          color: $color-primary;
          font-weight: bold !important;

          text-transform: capitalize;
          font-weight: 300;
          opacity: .6;
          letter-spacing: .3rem;
          
          cursor: pointer;
        }
        
        &:last-child {

          border-bottom: none !important;

          .language {
            text-transform: uppercase;
            opacity: 1;
          }
        }
      }
    }

    .hamburger {
      display: block;
      cursor: pointer;
      padding: 10px 0;

      &.active {
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
    
    @media (min-width: $breakpoint-tablet) {

      ul{
        width: auto;

        background: none;
        position: inherit;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {
          height: 100%;
          width: auto;

          padding: 0;
          margin-left: 3rem;

          a {
            text-align: center;
            align-items: center;
            display: flex;
          }

          &:last-child {
            border-top: none;

            .language {
              border-left: solid 1px $color-primary;
              padding-left: 3rem;
            }
          }
        }
      }

      div.hamburger {
        display: none;
      }
    }
  }
}

