@import '../../styles/variables';

.section {
  min-height: 80rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: $breakpoint-tablet) { 
    min-height: 50rem;
  }

  div {
    width: 100%;

    @media (min-width: $breakpoint-tablet) { 
      width: 50%;
    }

    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    text-align: justify;

    &:not(.image) {
      padding: 5rem;
    }

    &.image {
      div {
        margin: 0 auto;
      }
    }
  }
}