@import '../../styles/variables';

.section {
  
  width: 100%;
  
  padding: $menu-height $container-padding;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  div {
    width: 100%;

    @media (min-width: $breakpoint-tablet) { 
      width: 50%;
    }

    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    text-align: justify;

    padding: 1rem;
  }
}